<section id="assignments" class="py-12">
  <h2 class="text-4xl font-bold text-center mb-12">Assignments</h2>




<div class = "flex justify-center">
  <div class="grid grid-cols-1  md:grid-cols-2 lg:grid-cols-3 gap-8  ">
    <section class=" border-2 p-2 sm:p-5  rounded-md flex flex-col space-y-5 max-w-md w-fit  ">
      <div class=" ">
        <img class="object-cover h-full w-full" src="/public/img/assignmentpic.jpg" alt="">
      </div>
      <div>
        <p class="line-clamp-3">Shell scripting is the art of writing scripts for a shell, a command-line interpreter
          that provides a user interface for accessing the operating system's services. The shell acts as an interface
          between the user and the kernel (the core of the operating system). It interprets user commands, launches
          programs, and handles file management tasks.</p>
      </div>
      <div class="flex justify-end ">
        <a href="https://github.com/PrekshyaDali/Bajra_AssignmentPage" target="_blank"
          class="bg-red-900 text-white px-6 py-2 rounded-md">Read More</a>
      </div>
    </section>



    <!-- Assignment 2 -->
    <section class=" border-2 p-2 sm:p-5  rounded-md flex flex-col space-y-5 max-w-md w-fit  ">
      <div class=" ">
        <img class="object-cover h-full w-full" src="/public/img/assignmentpic.jpg"" alt="">
      </div>
      <div>
        <p class="line-clamp-3">Shell scripting is the art of writing scripts for a shell, a command-line interpreter
          that provides a user interface for accessing the operating system's services. The shell acts as an interface
          between the user and the kernel (the core of the operating system). It interprets user commands, launches
          programs, and handles file management tasks.</p>
      </div>
      <div class="flex justify-end ">
        <a href="https://github.com/PrekshyaDali/Bajra_AssignmentPage" target="_blank"
          class="bg-red-900 text-white px-6 py-2 rounded-md">Read More</a>
      </div>
    </section>



    <!-- Asssignment3 -->
    <section class=" border-2 p-2 sm:p-5 rounded-md flex flex-col space-y-5 max-w-md w-fit  ">
      <div class=" ">
        <img class="object-cover h-full w-full" src="/public/img/assignmentpic.jpg"" alt="">
      </div>
      <div>
        <p class="line-clamp-3">Shell scripting is the art of writing scripts for a shell, a command-line interpreter
          that provides a user interface for accessing the operating system's services. The shell acts as an interface
          between the user and the kernel (the core of the operating system). It interprets user commands, launches
          programs, and handles file management tasks.</p>
      </div>
      <div class="flex justify-end ">
        <a href="https://github.com/PrekshyaDali/Bajra_AssignmentPage" target="_blank"
          class="bg-red-900 text-white px-6 py-2 rounded-md">Read More</a>
      </div>
    </section>



    <!-- Assignment4 -->
    <section class=" border-2 p-2 sm:p-5 rounded-md flex flex-col space-y-5 max-w-md w-fit  ">
      <div class=" ">
        <img class="object-cover h-full w-full" src="/public/img/assignmentpic.jpg"" alt="">
      </div>
      <div>
        <p class="line-clamp-3">Shell scripting is the art of writing scripts for a shell, a command-line interpreter
          that provides a user interface for accessing the operating system's services. The shell acts as an interface
          between the user and the kernel (the core of the operating system). It interprets user commands, launches
          programs, and handles file management tasks.</p>
      </div>
      <div class="flex justify-end ">
        <a href="https://github.com/PrekshyaDali/Bajra_AssignmentPage" target="_blank"
          class="bg-red-900 text-white px-6 py-2 rounded-md">Read More</a>
      </div>
    </section>



  </div>
</div>



</section>