<nav class="bg-red-900 text-white fixed top-0 right-0 left-0 z-50">
    <div class="container mx-auto px-6 py-3 h-20 flex justify-between items-center">
      <div class="h-20">
        <img class = "object-cover h-full w-full" src="/public/img/BajraLogo.png" alt="">
      </div>
      <div class = "">
        <a href="#home" class=" hover:text-gray-600 px-3 py-2">Home</a>
        <a href="#about" class=" hover:text-gray-600 px-3 py-2">About</a>
        <a href="#assignments" class=" hover:text-gray-600 px-3 py-2">Assignments</a>
        <a href="#contact" class=" hover:text-gray-600 px-3 py-2">Contact</a>
      </div>
    </div>
  </nav>
  